<div class="center-block">
  <div class="center-block col-lg-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Login</h4>
      </div>
      <div class="card-block">
        <div class="form">
          <p class="form-group">
            <label>Username</label>
            <input class="form-control"/>
          </p>
          <p class="form-group">
            <label>Password</label>
            <input class="form-control" type="password"/>
          </p>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-default" (click)="login()">LOGIN</button>
        <button class="btn" (click)="clear()">CLEAR</button>
      </div>
    </div>
  </div>
</div>
